 .complete-wrap {
            background: #fff;
            width: 158px;
            border: #ddd solid 1px;
            overflow: hidden;
            box-shadow: 0px 2px 4px #ccc;
            z-index: 99;
            position: absolute;
            display: none;
            max-height:300px;
            margin-top:-1px;
        }
        .complete-wrap a:hover, .complete-wrap li.active a {color: #FF6600;cursor:pointer;background-color:#F5F5F5;}
        .des_error_tips {
		    background: #fff;
		    border: 1px solid #ddd;
		    width: 210px;
		    height: 22px;
		    overflow: hidden;
		    position: absolute;
		    font-family: "Simsun",sans-serif;
		    font-size: 12px;
		    color: #999;
		    padding: 5px;
		    z-index: 200;
		 }
		 .des_error_tips i {
		    color: #999;
		    float: right;
		    font-size: 18px;
		    cursor: pointer;
		}
		.complete-wrap .place-name {
		    font-family: "微软雅黑";
		    font-size: 14px;
		    width: 250px;
		    height: inherit;
		    float: left;
		    overflow: hidden;
		}
		.complete-wrap a {
		    background: #fff;
		    display: block;
		    width: 400px;
		    color: #333;
		    height: 22px;
		    line-height: 22px;
		    padding: 4px 10px;
		}
    	.returnAlert{
    		display:none;
		    position:fixed;
		    width:500px;
		    height:250px;
		    background-color:#ffffff;
		    left:50%;
		    top:50%;
		    margin-top: -125px;
		    margin-left:-250px;
		    z-index:1001;
		    font-family: "Microsoft YaHei";
		    font-size:14px;
		}
		.returnAlert p{
		    font-size: 16px;
		    color: #666666;
		    float: left;
		    line-height: 32px;
		    margin-left: 15px;
		}
		.returnAlert .sorryWarp {
		    position: absolute;
		    top: 86px;
		    left: 83px;
		    width: 416px;
		}
		.sorryWarp .sorryImg{
		    float:left;
		    width:32px;
		    height:32px;
		    background: url(http://pic.lvmama.com/img/v6/myspace/user_bg.png ) -112px -307px;
		}
		.fh-return-btn {
		    display: block;
		    float: left;
		    font-family: "Microsoft YaHei", sans-serif;
		    font-size: 14px;
		    text-align: center;
		    color: #fff;
		    border-radius: 3px;
		    padding:0 25px 0;
		    height: 36px;
		    line-height: 36px;
		    background: #FF8800;
		    margin-left: 100px;
		}
		.fh-return-btn:hover{
		    text-decoration: none;
		    color:#ffffff;
		    background-color:#FF6600;
		}
		.resortOver {
		    position: fixed;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    z-index: 1000;
		    background-color: #000;
		    opacity: 0.4;
		    filter: alpha(opacity=40);
		}
		.returnAlert .sorryBtn {
		    position: absolute;
		    top: 156px;
		    left: 96px;
		}
		ins, a {
		    text-decoration: none;
		}
		.fh-input-group{position:relative;}
		.errTips,.roundTrip,.liveDepart{
		    display: none;
		    position: absolute;
		    width: 158px;
		    height: 27px;
		    z-index: 10;
		    color: #E38;
		    font-size: 10px;
		    line-height: 27px;
		    text-align: center;
		    font-family: 微软雅黑;
		}
		.errTips{
		     top: 34px;
		    left: 0px;
		}
		.roundTrip ,.liveDepart{
		    top: -21px;
		    right: -8px;;
		}
		.prompt{
		    width:490px;
		    height:30px;
		    background-color:#efefef;
		    line-height:30px;
		    padding-left:10px;
		}
		.ph_icon_closeAlert {
		    top: 7px;
		    right: 14px;
		    width: 16px;
		    height: 16px;
		    background: url(http://pic.lvmama.com/img/v6/flighthotel/fh-hotel-icon.png) no-repeat;
		    background-position: -192px -25px;
		    display: inline-block;
		    position: absolute;
		}
		.ph_icon_closeAlert:hover {
		    background-position: -222px -25px;
		}
		.fh-input-group .hotCity{
            position:absolute;
            right:6px;
            top:-20px;
            width: 165px;
        }
        .fh-input-group .hotCity i {
            padding: 9px 12px 9px 0;
            margin-right: -5px;
            color: #dd3377;
            font-size: 12px;
        }
        .fh-input-group .hotCity i:hover{
            cursor:pointer;
        }
        .xpbl-title em.no_gaoguang:hover{
            color: #666;
            text-decoration:none;
            cursor: default;
        }
        .fh-ticket-detail dl {
		    margin-bottom: 30px;
		}
        .shouqi{
            float:left;
            color:#0099cc;
            position: absolute;
            bottom: 10px;
            right: 36px;
            cursor: pointer;
        }
        .shouqi:hover{
            text-decoration: underline;
        }
        .shouqi .arrow {
            border-color: transparent transparent #09c transparent;
            top: 2px;
            right: -10px;
        }
        
        .xh-time {
		    display: inline-block;
		    float: left;
		    width: 50px;
		    text-align: center;
		    margin-right: 145px;
        }
        
        .xpb-insurance .xh-count {
		    margin-left: 0;
		}
