<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.vst.persistence.mybatis.mapper.VstComPushMapper" >

	<resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.vst.VstPushRecord" >
	    <result column="ID" property="id"/>
	    <result column="OBJECT_ID" property="objectId" jdbcType="DECIMAL"/>
	    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
	    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR"/>
	    <result column="PUSH_FLAG" property="pushFlag" jdbcType="VARCHAR" />
	    <result column="PUSH_COUNT" property="pushCount" jdbcType="DECIMAL"/>
	    <result column="PUSH_CONTENT" property="pushContent" jdbcType="VARCHAR"/>
	    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR"/>
	    <result column="OPERATE_TYPE" property="operateType" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="columns">
			id,object_id,create_time,object_type,push_flag,push_count,push_content,data_type,operate_type
	</sql>

	<insert id="insert">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			<choose>
				<when test="id != null and id != ''">
					SELECT #{id,jdbcType=DECIMAL} FROM DUAL
				</when>
				<otherwise>
					SELECT lvmama_ver.SEQ_COM_PUSH_ID.NEXTVAL FROM DUAL
				</otherwise>
			</choose>
		</selectKey>
		insert into lvmama_ver.com_push
		(
		<include refid="columns" />
		)
		values
		(
		#{id,jdbcType=DECIMAL},
		#{objectId,jdbcType=DECIMAL},
		#{createTime,jdbcType=VARCHAR},
		#{objectType,jdbcType=VARCHAR},
		#{pushFlag,jdbcType=VARCHAR},
		#{pushCount,jdbcType=DECIMAL},
		#{pushContent,jdbcType=VARCHAR},
		#{dataType,jdbcType=VARCHAR},
		#{operateType,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="queryPushList" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT 
		<include refid="columns" />
		FROM lvmama_ver.com_push
		<if test="condition!=null and condition!=''">
			WHERE OBJECT_ID=#{condition}
		</if>
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<select id="countPushRecords" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM lvmama_ver.com_push WHERE OBJECT_ID = #{condition}
	</select>

</mapper>
