.myeclipse/
WEB-INF/work/*
log/ecology
.settings/
.mymetadata
*.bak
*.class
WebRoot/WEB-INF/classes/
src/db.properties
src/hibernate_mysql.cfg.xml
src/spring.cfg.xml
*.doc
bin/
.metadata/
*.log
*.chm
.classpath
.svn/
.project
*.txt
log/ecology
*.zip
activex/
addressbook/
calendar/
car/
companygroup/
cpt/
datacenter/
discuss/
docs/
email/
express/
favourite/
FCKEditor/
formmode/
FusionChartsFree/
help/
meeting/
RTX/
homepage/
sms/
sqlupgrade/
tdinfo/
uploadflv/
voting/
weaverplugin/
workflow/
workplan/
workspace/
worktask/
wui/
sap/
rte/
proj/
test/
blog/
album/
ceuser/
fna/
cowork/
cpcompanyinfo/
portal/
pweb/
report/
org/
skins/
sendmail/
system/
systeminfo/
weaverEditor
LeftMenu/
base/
join/
kindeditor/
log/*