<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd        
	http://code.alibabatech.com/schema/dubbo        
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!-- 酒店dubbo服务 -->
<dubbo:reference id="suppGoodsSaleReClientService" interface="com.lvmama.vst.back.client.goods.service.SuppGoodsSaleReClientService" />
<!-- 酒店dubbo服务 -->
 <dubbo:reference id="lvmamaFlightService" interface="com.lvmama.vst.newsearch.service.LvmamaFlightService" />
 <!-- <dubbo:reference id="vstTicketGoodsService" interface="com.lvmama.vst.api.ticket.prod.service.VstTicketGoodsService" /> -->
<!-- 获取价格日历、及产品费用说明等服务 -->
<dubbo:reference id="vstProductGroupService" interface="com.lvmama.vst.api.prod.service.VstProductService"></dubbo:reference>
<!-- 获取合同模板 -->
<dubbo:reference id="vstCommOrderQueryService" interface="com.lvmama.vst.api.order.service.VstCommOrderQueryService"></dubbo:reference>
</beans>