<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.persistence.mybatis.mapper.FitOldSuppMainOrderMapper" >
    <resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.order.FitSuppMainOrderDto" >
	    <result column="ID" property="id" jdbcType="DECIMAL" />
	    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
	    <result column="FIT_MAIN_ORDER_ID" property="fitMainOrderId" jdbcType="DECIMAL" />
	    <result column="FIT_MAIN_ORDER_NO" property="fitMainOrderNo" jdbcType="VARCHAR" />
	    <result column="VST_MAIN_ORDER_ID" property="vstMainOrderNo" jdbcType="DECIMAL" />
	    <result column="BINDING_STATUS" property="bindingStatus" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <select id="getAllOldOrderMainData" resultMap="resultMap">
       SELECT * FROM T_FITORD_SUPP_MAIN_ORDER MAIN_ORDER WHERE MAIN_ORDER.BINDING_STATUS = <![CDATA['BINDING']]>
    </select>

    <update id="updateBindingStatus">
        UPDATE T_FITORD_SUPP_MAIN_ORDER MAIN_ORDER
        SET BINDING_STATUS = <![CDATA['UNBINDING']]>
        WHERE MAIN_ORDER.VST_MAIN_ORDER_ID = #{vstOrderMainNo}
    </update>
</mapper>