<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.persistence.mybatis.mapper.FitSuppOrderMapper" >
  <resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.order.FitSuppOrderDto" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="SUPP_MAIN_ORDER_ID" property="suppMainOrderId" jdbcType="DECIMAL" />
    <result column="FIT_ORDER_ID" property="fitOrderId" jdbcType="DECIMAL" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="VST_ORDER_NO" property="vstOrderNo" jdbcType="VARCHAR" />
     <result column="VST_ORDER_TOTAL_AMOUNT" property="orderAmount.totalAmount" jdbcType="DECIMAL" />
     <result column="BINDING_STATUS" property="bindingStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <insert id="insert" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
      <choose>
        <when test="id != null and id != ''">
          SELECT #{id,jdbcType=DECIMAL} FROM DUAL
        </when>
        <otherwise>
          SELECT S_FITORD_SUPP_ORDER_NEW.NEXTVAL FROM DUAL
        </otherwise>
      </choose>
    </selectKey>
    insert into T_FITORD_SUPP_ORDER_NEW (ID, UUID, SUPP_MAIN_ORDER_ID,
    FIT_ORDER_ID, CATEGORY_ID, VST_ORDER_NO,VST_ORDER_TOTAL_AMOUNT,
    BINDING_STATUS,CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{uuid,jdbcType=VARCHAR}, #{suppMainOrderId,jdbcType=DECIMAL},
    #{fitOrderId,jdbcType=DECIMAL}, #{categoryId,jdbcType=DECIMAL}, #{vstOrderNo,jdbcType=VARCHAR},
    #{orderAmount.totalAmount,jdbcType=DECIMAL},#{bindingStatus,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

	<select id="queryByFkId" resultMap="resultMap">
	    SELECT A.* FROM T_FITORD_SUPP_ORDER_NEW A WHERE A.SUPP_MAIN_ORDER_ID = #{fkId,jdbcType=DECIMAL}
	    ORDER BY A.FIT_ORDER_ID ASC
	</select>
	
	<select id="getByNo" resultMap="resultMap">
		SELECT *
		FROM T_FITORD_SUPP_ORDER_NEW
		WHERE VST_ORDER_NO = #{no}
	</select>
	
</mapper>