<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.persistence.mybatis.mapper.FitSdpProductSynMsgMapper">
	<resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.sdp.product.FitSdpProductSynMsg" >
	    <result column="PRODUCT_ID" property="productId"/>
	    <result column="SYN_BASICINFO_START" property="synBasicinfoStart" jdbcType="TIMESTAMP"/>
	    <result column="SYN_BASICINFO_END" property="synBasicinfoEnd" jdbcType="TIMESTAMP" />
	    <result column="SYN_BASICINFO_STATUS" property="synBasicinfoStatus" />
	    <result column="SYN_SEARCHINDEX_START" property="synSearchindexStart" jdbcType="TIMESTAMP" />
	    <result column="SYN_SEARCHINDEX_END" property="synSearchindexEnd" jdbcType="TIMESTAMP" />
	    <result column="SYN_SEARCHINDEX_STATUS" property="synSearchindexStatus"/>
	</resultMap>
	<!-- 数据项 -->
	<sql id="columns">
	  PRODUCT_ID,
	  SYN_BASICINFO_START,
	  SYN_BASICINFO_END,
	  SYN_BASICINFO_STATUS,
	  SYN_SEARCHINDEX_START,
	  SYN_SEARCHINDEX_END,
	  SYN_SEARCHINDEX_STATUS
	</sql>
	
	<!-- 数据插入 -->
	<insert id="saveSynMsgInfo" parameterType="com.lvmama.lvfit.common.dto.sdp.product.FitSdpProductSynMsg">
		INSERT INTO
		T_FITSDP_PRODUCT_SYN_MESSAGE
		(<include refid="columns" />)
		VALUES(
		    #{productId,jdbcType=DECIMAL},
			#{synBasicinfoStart,jdbcType=TIMESTAMP},
			#{synBasicinfoEnd,jdbcType=TIMESTAMP},
			#{synBasicinfoStatus,jdbcType=VARCHAR},
			#{synSearchindexStart,jdbcType=TIMESTAMP},
			#{synSearchindexEnd,jdbcType=TIMESTAMP},
		    #{synSearchindexStatus,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="querySynMsgList" parameterType="java.lang.Long" resultMap="resultMap">
		SELECT 
		<include refid="columns" />
		FROM T_FITSDP_PRODUCT_SYN_MESSAGE
		WHERE PRODUCT_ID = #{productId}
	</select>

</mapper>
