<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.persistence.mybatis.mapper.FitSuppFlightOrderMapper" >
  <resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.order.FitSuppFlightOrderDto" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="SUPP_ORDER_ID" property="suppOrderId" jdbcType="DECIMAL" />
    <result column="FLIGHT_ORDER_NO" property="flightOrderNo" jdbcType="VARCHAR" />
    <result column="BOOKING_STATUS" property="bookingStatus" jdbcType="VARCHAR" />
     <result column="ORDER_TOTAL_AMOUNT" property="orderAmount.totalAmount" jdbcType="DECIMAL" />
    <result column="ORDER_TOTAL_SALES_AMOUNT" property="orderAmount.totalSalesAmount" jdbcType="DECIMAL" />
    <result column="ORDER_TOTAL_DISCOUNT_AMOUNT" property="orderAmount.totalDiscountAmount" jdbcType="DECIMAL" />
    <result column="ORDER_PROFIT_AMOUNT" property="orderAmount.profitAmount" jdbcType="DECIMAL" />
    <result column="ORDER_PREPAID_AMOUNT" property="orderAmount.prepaidAmount" jdbcType="DECIMAL" />
    <result column="ORDER_PAYED_AMOUNT" property="orderAmount.payedAmount" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
     <result column="PASSENGER_TYPE" property="passengerType" jdbcType="VARCHAR" />
     <result column="TRIP_TYPE" property="tripType" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <insert id="insert" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
      <choose>
        <when test="id != null and id != ''">
          SELECT #{id,jdbcType=DECIMAL} FROM DUAL
        </when>
        <otherwise>
          SELECT s_fitord_supp_fli_order.NEXTVAL FROM DUAL
        </otherwise>
      </choose>
    </selectKey>
    
      insert into t_fitord_supp_fli_order (ID, UUID, SUPP_ORDER_ID,
         FLIGHT_ORDER_NO, BOOKING_STATUS,   ORDER_TOTAL_AMOUNT,
	     ORDER_TOTAL_SALES_AMOUNT, ORDER_TOTAL_DISCOUNT_AMOUNT,
	     ORDER_PROFIT_AMOUNT, ORDER_PREPAID_AMOUNT, ORDER_PAYED_AMOUNT,
	     CREATE_TIME,UPDATE_TIME,PASSENGER_TYPE,TRIP_TYPE)
      values (#{id,jdbcType=DECIMAL}, #{uuid,jdbcType=VARCHAR}, #{suppOrderId,jdbcType=DECIMAL},
      #{flightOrderNo,jdbcType=VARCHAR}, #{bookingStatus,jdbcType=VARCHAR}, #{orderAmount.totalAmount,jdbcType=DECIMAL},
      #{orderAmount.totalSalesAmount,jdbcType=DECIMAL}, #{orderAmount.totalDiscountAmount,jdbcType=DECIMAL},
      #{orderAmount.profitAmount,jdbcType=DECIMAL}, #{orderAmount.prepaidAmount,jdbcType=DECIMAL},
      #{orderAmount.payedAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
      #{passengerType,jdbcType=VARCHAR},#{tripType,jdbcType=VARCHAR})
  </insert>
  
	<select id="queryByFkId" resultMap="resultMap">
	    SELECT A.* FROM T_FITORD_SUPP_FLI_ORDER A WHERE A.SUPP_ORDER_ID = #{fkId,jdbcType=DECIMAL}
	    ORDER BY A.ID ASC
	</select>
	
	<update id="updateById">
	
		 UPDATE t_fitord_supp_fli_order
		<set>
			  <if test="i.flightOrderNo != null and i.flightOrderNo != ''">
				FLIGHT_ORDER_NO = #{i.flightOrderNo,jdbcType=VARCHAR},
			  </if>
		      <if test="i.bookingStatus != null and i.bookingStatus !=''" >
		        BOOKING_STATUS =  #{i.bookingStatus,jdbcType=VARCHAR},
		      </if>
		      
	          <if test="i.orderAmount != null and i.orderAmount != ''">
	                <if test="i.orderAmount.totalAmount != null and i.orderAmount.totalAmount != ''">
					ORDER_TOTAL_AMOUNT = #{i.orderAmount.totalAmount,jdbcType=DECIMAL},
				  </if>
			      <if test="i.orderAmount.totalSalesAmount != null and i.orderAmount.totalSalesAmount!=''" >
			        ORDER_TOTAL_SALES_AMOUNT =  #{i.orderAmount.totalSalesAmount,jdbcType=DECIMAL},
			      </if>
			      <if test="i.orderAmount.totalDiscountAmount != null and i.orderAmount.totalDiscountAmount!=''" >
			        ORDER_TOTAL_DISCOUNT_AMOUNT = #{i.orderAmount.totalDiscountAmount,jdbcType=DECIMAL},
			      </if>
			      <if test="i.orderAmount.profitAmount != null and i.orderAmount.profitAmount!=''" >
			        ORDER_PROFIT_AMOUNT =  #{i.orderAmount.profitAmount,jdbcType=DECIMAL}, 
			      </if>
			      <if test="i.orderAmount.prepaidAmount != null and i.orderAmount.prepaidAmount!=''" >
			        ORDER_PREPAID_AMOUNT = #{i.orderAmount.prepaidAmount,jdbcType=DECIMAL},
			      </if>
			      <if test="i.orderAmount.payedAmount != null and i.orderAmount.payedAmount!=''" >
			          ORDER_PAYED_AMOUNT =  #{i.orderAmount.payedAmount,jdbcType=DECIMAL},
			      </if>
		      </if>
		      
		        UPDATE_TIME = SYSDATE
	       </set>
		WHERE ID = #{id}
		
	</update>
	
	
	
	
</mapper>