<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.lvfit.persistence.mybatis.mapper.FitSdpProductSynMsgMapper">
	<resultMap id="resultMap" type="com.lvmama.lvfit.common.dto.sdp.product.FitSdpProductSyncMsgDto" >
	    <result column="PRODUCT_ID" property="productId"/>
	    <result column="PRODUCT_SYNC_TIME" property="productSyncTime" jdbcType="TIMESTAMP"/>
	    <result column="INDEX_SYNC_TIME" property="indexSyncTime" jdbcType="TIMESTAMP" />
	    <result column="PRODUCT_SYNC_STATUS" property="productSyncStatus" jdbcType="VARCHAR" />
	    <result column="INDEX_SYNC_STATUS" property="indexSyncStatus" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- 数据项 -->
	<sql id="columns">
	  PRODUCT_ID,
	  PRODUCT_SYNC_TIME,
	  INDEX_SYNC_TIME,
	  PRODUCT_SYNC_STATUS,
	  INDEX_SYNC_STATUS,
	  CREATE_TIME
	</sql>
	
	<!-- 数据插入 -->
	<insert id="insert" parameterType="com.lvmama.lvfit.common.dto.sdp.product.FitSdpProductSyncMsgDto">
		INSERT INTO
		T_FITSDP_PRODUCT_SYN_MESSAGE
		(<include refid="columns" />)
		VALUES(
		    #{productId,jdbcType=DECIMAL},
			#{productSyncTime},
			#{indexSyncTime},
			#{productSyncStatus,jdbcType=VARCHAR},
			#{indexSyncStatus,jdbcType=VARCHAR},
			(SELECT sysdate FROM dual)
		)
	</insert>
	
	<select id="querySdpProductSynMsgInfo" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
			SELECT 
			<include refid="columns" />
			FROM T_FITSDP_PRODUCT_SYN_MESSAGE
			WHERE 1=1
			<if test="condition != null">
				<if test="condition.productId!=null and condition.productId!=''">
						AND PRODUCT_ID = #{condition.productId}
				</if>
				<if test="condition.productSyncStatus!=null and condition.productSyncStatus!=''">
						AND PRODUCT_SYNC_STATUS = #{condition.productSyncStatus}
				</if>
				<if test="condition.indexSyncStatus!=null and condition.indexSyncStatus!=''">
						AND INDEX_SYNC_STATUS = #{condition.indexSyncStatus}
				</if>
			</if>
			ORDER BY CREATE_TIME DESC
		<include refid="ORACLE.paginationEnd" />
	</select>

	<select id="countSdpProductSynMsg" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM T_FITSDP_PRODUCT_SYN_MESSAGE 
    	WHERE 1=1
    	<if test="condition != null">
				<if test="condition.productId!=null and condition.productId!=''">
						AND PRODUCT_ID = #{condition.productId}
				</if>
				<if test="condition.productSyncStatus!=null and condition.productSyncStatus!=''">
						AND PRODUCT_SYNC_STATUS = #{condition.productSyncStatus}
				</if>
				<if test="condition.indexSyncStatus!=null and condition.indexSyncStatus!=''">
						AND INDEX_SYNC_STATUS = #{condition.indexSyncStatus}
				</if>
		</if>
	</select>
</mapper>
