.xingcheng_day {
	margin-top:46px;
	position:relative;
	overflow:hidden
}
.xingcheng {
	margin-left:100px;
	padding-left:40px
}
.xingcheng
li {
	padding-bottom:30px;
	border-left:#e3e3e3 solid 1px;
	padding-left:38px;
	position:relative
}
.xingcheng_tit {
	height:40px;
	margin-bottom:20px
}
.xingcheng_tit
h4 {
	float:left;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#333;
	overflow:hidden
}
.xingcheng_tit
i.liner_icon {
	float:left;
	margin:6px
0 0 10px;
	display:inline;
	width:25px;
	height:25px
}
.icon_cruise {
	background-position:0 -55px
}
.icon_car {
	background-position:-25px -55px
}
.icon_aircraft {
	background-position:-50px -55px
}
.icon_train {
	background-position:-75px -55px
}
.day_box {
	position:absolute;
	left:-87px;
	width:105px;
	height:44px;
	overflow:hidden
}
.icon_day {
	width:36px;
	height:44px;
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#fff;
	background-position:-447px -129px;
	text-align:center;
	line-height:38px;
	overflow:hidden
}
.icon_people {
	width:18px;
	height:22px;
	background-position:-268px -86px
}
.icon_hotel2 {
	width:18px;
	height:22px;
	background-position:-296px -85px
}
.icon_tableware {
	width:22px;
	height:22px;
	background-position:-321px -86px
}
.icon_flag {
	width:18px;
	height:22px;
	background-position:-350px -87px
}
.icon_prompt {
	width:20px;
	height:20px;
	background-position:-257px -140px;
	margin-top:2px
}
.icon_shopping {
	width:20px;
	height:22px;
	background-position:-374px -86px
}
.icon_scenery {
	width:20px;
	height:20px;
	background-position:-401px -88px
}
.day_box
p {
	line-height:40px;
	font-size:16px;
	color:#333
}
.day_list {
	position:relative;
	margin-top:22px
}
.day_icon {
	width:30px;
	height:23px;
	padding:3px
0;
	position:absolute;
	left:-53px;
	top:0;
	text-align:center;
	background:#fff
}
.day_icon
p {
	width:80px;
	line-height:22px;
	font-family:Arial;
	font-size:14px;
	color:#666;
	font-weight:bold
}
.icon_yuan {
	float:right;
	margin:8px
0 0 0;
	width:13px;
	height:13px;
	background-position:-105px -32px
}
.day_list
p {
	line-height:22px;
	color:#666;
	font-weight:normal;
	font-family:"宋体";
	font-size:12px
}
.day_img_box {
	margin-top:10px;
	overflow:hidden;
	zoom:1
}
.day_img_box
img {
	float:left;
	margin-right:15px
}
.day_list
h5 {
	line-height:24px;
	color:#333;
	font-size:14px;
	margin-bottom:3px
}
.bg_box {
	position:relative;
	margin-top:20px;
	background:#F5F5F5;
	padding:10px
20px;
	font-size:12px;
	color:#666
}
.bg_box
dd {
	width:720px;
	color:#666;
	font-size:12px;
	line-height:24px;
	font-family:"宋体"
}
.bg_box
.icon_tanhao {
	float:left;
	margin-left:-66px;
	position:relative
}
.day_tab_all {
	width:80px;
	height:36px;
	position:absolute;
	left:0;
	top:0
}
.day_tab_box {
	position:relative
}
.day_tab {
	position:relative
}
.day_tab
li {
	margin-bottom:16px;
	width:80px;
	height:34px;
	line-height:34px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	background:#fff;
	border:#ddd solid 1px;
	color:#999;
	border-radius:3px;
	cursor:pointer
}
.day_tab li:hover {
	border:#f90 solid 1px;
	color:#f90
}
.day_tab
li.active {
	border:#f90 solid 1px;
	background:#f90;
	color:#fff
}